<div class="basket-header">
  <mat-divider></mat-divider>
  <div class="basket-header-text">
    <h2>Your chosen cars</h2>
    <div class="input-container">
      <input type="text" placeholder="Search..." />
      <button class="Search">
        <img
          src="../../../../../assets/img/svg/icons8-поиск.svg"
          alt="Search"
        />
      </button>
    </div>
  </div>
</div>
<div class="exemple">
  <div matBadge="4" matBadgeOverlap="false" class="matBadge">
    Text with a badge
  </div>

  <div matBadge="1" matBadgeSize="small" class="matBadge">
    Text with small badge
  </div>
  <div matBadge="1" matBadgeSize="large" class="matBadge">
    Text with large badge
  </div>

  <div class="matBadge">
    Button with a badge on the left
    <button mat-raised-button matBadge="8" matBadgePosition="before">
      Action
    </button>
  </div>

  <div class="matBadge">
    Button toggles badge visibility
    <button
      mat-raised-button
      matBadge="7"
      [matBadgeHidden]="hidden"
      (click)="toggleBadgeVisibility()"
    >
      Hide
    </button>
  </div>

  <div class="matBadge">
    Icon with a badge
    <mat-icon matBadge="15">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>
</div>
