<div class="car-card" (click)="onCardClicked()">
  <div class="img-cont">
    <img width="100%" alt="Car Photo" [src]="car.imgUrl" />
    <div class="bar"></div>
  </div>

  <div class="card-name-cont">
    <p>{{ car.description.substr(0, 8) }}</p>
    <p>{{ car.description.substr(8) }}</p>
  </div>
  <div class="price-cont">
    <h2>price</h2>
    <h2>
      {{`$ ` + car.price.toString().substr(0, 2) + `,` + car.price.toFixed(3).substr(3)}}
    </h2>
  </div>
  <div>
    <button>Confirm Availability</button>
    <button>Value Your Trade</button>
    <button>Pre-Qualify Instantly</button>
  </div>
</div>
