@import "../../../style/variables.scss";

:host {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-right: 3rem;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 40%;
}

.h1-label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  text-align: center;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: #2c3e50;
  line-height: 2rem;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

a {
  display: block;
  text-decoration: none;
  color: #2c3e50;
  font-size: 2rem;
}

a:active {
  color: white;
}
