<div>
    <img class="main-screen" src="../../../assets/img/celovek-vybiraet-masinu-i-razgovarivaet-s-prodavcom.jpg" alt="main-page_img">
    <h2>Добро пожаловать в наш магазин машин!</h2>
    <h3>Мы предлагаем широкий выбор автомобилей по лучшим ценам.</h3> 

    <h3>К примеру, если вам захотелось новый седан 2023 года, тогда только у нас вы с легкостью удовлетворите свое желание!</h3>
      <p>Отличный седан с современным дизайном и передовыми технологиями. Идеальный выбор для комфортной езды.</p>
      <button class="button">Купить сейчас</button>
      <button class="button">Узнать больше</button>

</div>
