// @import "../../../style/variables.scss";

.main-screen {
  // height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: white;
}

.main-page-img {
  height: 500px;
  overflow: hidden;
}

.button {
  background-color: #3498db;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(76, 175, 80, 0.3);
  // transition: all 0.3s ease;
  border: none;
  // padding: 10px 20px;
  // font-size: 1em;
  // border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 3px;
}

.button:hover {
  background-color: #2980b9;
}

h2 {
  text-align: center;
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.main-page-content {
  padding: 1%;
}

.main-page-ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  font-size: 20px;
  & li {
    line-height: 40px;
  }
}
