<div>
  <div class="main-page-img">
    <img
      class="main-screen"
      src="../../../assets/img/celovek-vybiraet-masinu-i-razgovarivaet-s-prodavcom.jpg"
      alt="main-page_img"
    />
  </div>
  <div class="main-page-content">
    <h2>Welcome to Our Car Shop!</h2>
    <h3>
      At Cars for Everyone, we believe that buying a car should be simple,
      transparent, and enjoyable. Our mission is to offer a carefully selected
      range of quality vehicles to suit every taste and budget — from reliable
      daily drivers to premium models with advanced features.
    </h3>
    <h3><b>Why Choose Us:</b></h3>
    <ul class="main-page-ul">
      <li>✔️ Wide selection of quality vehicles
</li>
      <li>✔️ Competitive, transparent pricing</li>
      <li>✔️ Friendly and professional service</li>
    </ul>
    <h3>
      With a passion for cars and a commitment to customer satisfaction, we
      focus on making your shopping experience comfortable and hassle-free.
      Whether you’re looking to purchase your first car, upgrade your current
      vehicle, or simply browse the latest offers — we’re here to help at every
      step.
    </h3>
    <h3>
      Join hundreds of satisfied customers who’ve already found their perfect
      car with <b>Cars For Everyone</b>.
    </h3>
    <a [routerLink]="'/shop'"><button class="button">Buy now</button></a>
    <button class="button">See more about us</button>
    <!-- <div id="player">
      <div>
        <input
          type="text"
          #searchQuery
          (keyup.enter)="search(searchQuery.value)"
        />
        <button (click)="search(searchQuery.value)">Search</button>
      </div>

      <ul>
        <li *ngFor="let video of videos">
          <h3>{{ video.snippet.title }}</h3>
          <img
            [src]="video.snippet.thumbnails.default.url"
            alt="{{ video.snippet.title }}"
          />
        </li>
      </ul>
    </div> -->
  </div>
</div>
