<div class="shop-header">
  <mat-divider class="header-devider"></mat-divider>
  <div class="shop-header-text">
    <h2>New Vehicles for Sale Online</h2>
    <div class="input-container">
      <input type="text" [(ngModel)]="searchStringValue" (change)="onInputChange()" placeholder="Search..." />
      <button class="Search">
        <img
          src="../../../../../assets/img/svg/icons8-поиск.svg"
          alt="Search"
        />
      </button>
    </div>
  </div>
</div>
<div class="shop-main">
  <div class="filter-boxes">
    <app-filter-panel></app-filter-panel>
  </div>
  <mat-divider
    class="vertical-divider"
    [vertical]="true"
    role="separator"
  ></mat-divider>
  <div class="card-container">
    <div class="cards">
      @for (car of filteredCars; track car.id) {
      <app-car-card (carSelected)="onCarSelected($event)" [car]="car" />
      } @empty {
      <p>No elemets found with this filter</p>
      }
    </div>
  </div>
</div>
